<config>
    <Button X="100" value=": my button" Y="20" height="50"  />
    <Button value="my button too too" X="300" Y="50" color="cyan" />
    <Text value="hello" X="100" Y="100" height="30"/>
    <Text value="text2" X="20" Y="300" color="red" font="calibri" />
    <EditText value="enter name" X="100" Y="150" font="calibri" />
    <EditText value="enter whatever" X="20" Y="400" color="brown" font="Arial" height="50" width="100" />
    <Text value="hello" X="100" Y="150"  color="blue"/>
</config>




